@model VerifyAuthenticatorViewModel

<h2>Verify Authenticator code</h2>

<form asp-controller="Account" asp-action="VerifyAuthenticatorCode" method="post" >
    <div class="text-danger" asp-validation-summary="All"></div>
    <input type="hidden" asp-for="RememberData" />
    <input type="hidden" asp-for="ReturnUrl" value="@ViewData["returnUrl"]" />
    <hr />
    <div class="row">
        <div class="col-sm-7">
            <div class="col-md-12">
                <label asp-for="Code"></label>
                <input type="text" asp-for="Code" class="form-control" placeholder="Enter your authenticator code" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-5">
                <div class="col-md-12 pt-4">
                    <button type="submit" class="btn btn-success mt-3 w-100"><i class="bi bi-arrow-right-circle-fill"></i>Send</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}