@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        var twoFactorAuthentication = ViewData["twofactorAuthenticationActive"];
        if(twoFactorAuthentication != null &&
            (bool)twoFactorAuthentication == true)
        {
            <a asp-controller="Account" class="text-danger" asp-action="DeleteAuthenticator">Delete two factor authentication</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="ActivateAuthenticator">Configure two factor authentication</a>
        }
        
    }
</div>
