@using Microsoft.AspNetCore.Identity
@model IdentityRole;

@{
    ViewData["Title"] = "Update role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Update role</h3>
        <form asp-controller="Role" asp-action="Update" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row mt-4 align-items-center d-flex justify-content-center">
                <div class="col-sm-3">
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" type="text" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="row mt-2 align-items-center d-flex justify-content-center">
                <div class="col-sm-3">
                    <button class="btn btn-primary w-100">Update role <i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#rolesTable').DataTable();
        });
    </script>
}
